In [11]:
import os
import pandas as pd 
import numpy as np

In [12]:
# importando os dados
data = pd.read_csv('u.data',sep='\t', names=['UserID', 'MovieID', 'Rating', 'Timestamp'])


df = data.drop('Timestamp', axis=1) 

print(df.head())

   UserID  MovieID  Rating
0     196      242       3
1     186      302       3
2      22      377       1
3     244       51       2
4     166      346       1

In [13]:

media_ratings = data['Rating'].mean()

print('A média das avaliações é: ', media_ratings)

# top 10 filmes melhores avaliados

top_10 = df.groupby('MovieID')['Rating'].mean().sort_values(ascending=False).head(10)

print('Top 10 filmes melhores avaliados: \n', top_10)

A média das avaliações é:  3.52986
Top 10 filmes melhores avaliados:
 MovieID
1536    5.0
1500    5.0
1653    5.0
1189    5.0
1201    5.0
1599    5.0
814     5.0
1293    5.0
1122    5.0
1467    5.0
Name: Rating, dtype: float64

In [14]:
# filtrando com maior média e maior número de avaliações

# colocar em ordem de maior nota e maior número de avaliações


df2 = pd.read_csv('u.item', sep='|', encoding='latin-1', names=['MovieID', 'Title'], usecols=range(2))

df = df.groupby('MovieID').mean('Rating').sort_values(['Rating'], ascending=False)

df = df.join(df2,on=['MovieID'])


display(df)


# agrupando os que tem maior rating e maior número de avaliações, ordem decrescente

df = data.groupby('MovieID').agg({'Rating': [np.size, np.mean]})

display(df)

,UserID,Rating,MovieID,Title
MovieID,,,,
1536,385.000000,5.0,1536,Cosi (1996)
1500,530.000000,5.0,1500,Prisoner of the Mountains (Kavkazsky Plennik) ...
1653,675.000000,5.0,1653,Chairman of the Board (1998)
1189,345.000000,5.0,1189,That Old Feeling (1997)
1201,90.000000,5.0,1201,"Maybe, Maybe Not (Bewegte Mann, Der) (1994)"
...,...,...,...,...
1432,445.000000,1.0,1432,Men of Means (1998)
1408,407.000000,1.0,1408,"Swan Princess, The (1994)"
1601,445.000000,1.0,1601,"Price Above Rubies, A (1998)"
1586,405.000000,1.0,1586,Terror in a Texas Town (1958)
858,146.333333,1.0,858,April Fool's Day (1986)

/tmp/ipykernel_7112/1397407389.py:18: FutureWarning: The provided callable <function mean at 0x73ff8da2c820> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df = data.groupby('MovieID').agg({'Rating': [np.size, np.mean]})

        Rating
          size      mean
MovieID
1          452  3.878319
2          131  3.206107
3           90  3.033333
4          209  3.550239
5           86  3.302326
...        ...       ...
1678         1  1.000000
1679         1  3.000000
1680         1  2.000000
1681         1  3.000000
1682         1  3.000000

[1682 rows x 2 columns]

In [15]:
# agrupando e ordenando por média os filmes que tem maior avaliação