In [18]:
import pandas as pd

# Carregar dados do arquivo CSV
df = pd.read_csv('u.item', sep='|', encoding='latin-1', names=['MovieID', 'Title'], usecols=range(2))

# Ler os dados de avaliações
ratings_df = pd.read_csv('u.data', sep='\t', names=['UserID', 'MovieID', 'Rating'], usecols=range(3))

# Calcular a média e o número de avaliações por filme
df_stats = ratings_df.groupby('MovieID').agg({'Rating': [pd.Series.count, pd.Series.mean]}).reset_index()
df_stats.columns = ['MovieID', 'RatingCount', 'AvgRating']

display(df_stats.head())

# Juntar os dados dos filmes com as estatísticas
df_stats = pd.merge(df_stats, df, on='MovieID')

# Filtrar filmes com mais de 100 avaliações

df_stats = df_stats[df_stats['RatingCount'] > 100]

# Ordenar os filmes por avaliação média

df_stats = df_stats.sort_values(by='AvgRating', ascending=False)

display(df_stats.head(10))

# ordenar os que tem maior avaliação média

df_stats = df_stats.sort_values(by='RatingCount', ascending=False)
print("Filmes que possuem a maior avaliação média")
display(df_stats.head(10))

   MovieID  RatingCount  AvgRating
0        1          452   3.878319
1        2          131   3.206107
2        3           90   3.033333
3        4          209   3.550239
4        5           86   3.302326

     MovieID  RatingCount  AvgRating                             Title
407      408          112   4.491071             Close Shave, A (1995)
317      318          298   4.466443           Schindler's List (1993)
168      169          118   4.466102        Wrong Trousers, The (1993)
482      483          243   4.456790                 Casablanca (1942)
63        64          283   4.445230  Shawshank Redemption, The (1994)
602      603          209   4.387560                Rear Window (1954)
11        12          267   4.385768        Usual Suspects, The (1995)
49        50          583   4.358491                  Star Wars (1977)
177      178          125   4.344000               12 Angry Men (1957)
133      134          198   4.292929               Citizen Kane (1941)

Filmes que possuem a maior avaliação média

     MovieID  RatingCount  AvgRating                          Title
49        50          583   4.358491               Star Wars (1977)
257      258          509   3.803536                 Contact (1997)
99       100          508   4.155512                   Fargo (1996)
180      181          507   4.007890      Return of the Jedi (1983)
293      294          485   3.156701               Liar Liar (1997)
285      286          481   3.656965    English Patient, The (1996)
287      288          478   3.441423                  Scream (1996)
0          1          452   3.878319               Toy Story (1995)
299      300          431   3.631090           Air Force One (1997)
120      121          429   3.438228  Independence Day (ID4) (1996)